.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.menu-header {
    justify-self: start;
}

.header-links-list {
    display: flex;
    gap: 33px;
}

.header-links-list-item {
    text-transform: lowercase;
    list-style: circle;
}

.header-links-list-item:first-child {
    list-style: none;
}

.header-link {
    text-decoration: underline;
    font-size: 18px;
    text-underline-offset: 3px;
}

.header-link-active {
    text-decoration: none;
}

.header-logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header-logo-image {
    display: block;
    width: 100%;
    height: 100%;
}

.header-address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    width: 240px;
    font-size: 18px;
    text-underline-offset: 3px;
    line-height: 24.3px;
}

.header-address a {
    text-decoration: underline;
}

/* ===== COVER СТИЛИ ===== */
.cover {
    position: relative;
    height: 757px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    padding: 165px 50px 50px;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover-title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 106px;
}

.aligned-text {
    display: block;
    letter-spacing: 30px;
}

.aligned-text-left {
    text-align: left;
}

.aligned-text-center {
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
}

.aligned-text-right {
    text-align: right;
    margin-top: 20px;
    margin-right: -30px;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover-description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 108px;
    height: 51px;
}

.cover-description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
    line-height: 28px;
    color: #fff;
}

.bet-button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    padding: 12px 32px;
}

.lots {
    padding: 185px 24px 110px;
}

.lots-heading {
    padding: 0 0 30px 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
}

.lots-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    list-style: none;
}

.lost-card-list-item {
    height: 100%;
}

.card-link {
    display: block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: auto;
    height: 100%;
    padding: 50px 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-type-film {
    background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
    background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card-title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    text-decoration-line: underline;
    text-underline-offset: 1px;
    text-transform: uppercase;
}

.card-text {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
}

.lots-look-more-link {
    display: block;
    margin: 30px 0 0 40px;
    font-size: 20px;
    text-decoration-line: underline;
}

/* ===== LOTS СТИЛИ =====
.lots {
    padding: 180px 24px 110px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.lots-heading {
    font-size: 40px;
    padding-left: 40px;
    text-transform: uppercase;
}

.lots-card-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto;
    line-height: 1.2;
    gap: 25px;
}

.card-link {
    height: 100%;
    text-decoration: none;
    position: relative;
}

.card {
    width: 334px;
    min-height: 596px;
    padding: 48px 40px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.card-type-film {
    background-image: url("../images/card-lot-01.jpg");
}

.card-type-book {
    background-image: url("../images/card-lot-02.jpg");
}

.card-type-picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card-title {
    z-index: 0;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 1.2px;
}

.card-text {
    z-index: 1;
    font-size: 20px;
    line-height: 120%;
    text-underline-offset: 1px;
}

.lots-look-more-link {
    padding-left: 40px;
    font-size: 20px;
    text-decoration-thickness: 1px;
    text-decoration: underline;
    text-underline-offset: 5px;
}
/* ===== ABOUT СТИЛИ =====*/

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 0 50px 180px;
    max-width: 1100px;
    margin: 0 auto;
}

.about-column {
    display: flex;
    flex-direction: column;
}

.about-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin: 0 auto;
}

.about-logo-image {
    width: 148px;
    height: 114px;
}

.about-title {
    font-size: 40px;
    text-transform: uppercase;
    margin: 100px 0 100px;
    font-weight: 700;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-text p {
    padding-right: 5px;
    margin-bottom: 0px;
    padding-top: 20px;
}

/*===== FOOTER СТИЛИ =====*/

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 180px;
    padding: 0 50px 82px;
    align-items: start;
}

.address-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 265px;
    padding-left: 50px;
    padding-top: 45px;
    text-underline-offset: 1px;
    gap: 12px;
}

.menu-footer {
    justify-self: center;
    padding-top: 17px;
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 1px;
}

.menu-footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 12px;
    padding: 0;
}

.menu-footer-link-active {
    text-decoration: none;
}

.menu-footer-list-item {
    display: flex;
}

.menu-footer-link {
    text-decoration: underline;
    color: #000;
}

.footer-social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    align-items: flex-start;
    flex-direction: row;
    align-content: center;
    width: 240px;
    padding: 45px 0 0 64px;
    margin: 0;
}

.footer-social-list-item {
    display: flex;
}

.footer-social-link {
    text-decoration: none;
}

.footer-social-icon {
    width: 48px;
    height: 48px;
}