  /* -- HEADER СТИЛИ -- */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.menu-header {
    justify-self: start;
}

.menu-header-list {
    display: flex;
    flex-direction: row;
    gap: 33px;
}

.header-link {
    text-decoration: none;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.header-link-active .header-link {
    text-decoration: none;
}

.header-logo {
    display: block;
    width: 136px;
    margin: 92px auto 96px;
}

.header-logo-image {
    display: block;
    width: 100%;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    text-underline-offset: 4px;
    line-height: 1.4em;
}

.address-header {
    max-width: 240px;
    justify-self: end;
}

/* ===== COVER СТИЛИ ===== */
.cover {
    position: relative;
    min-height: 757px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    padding: 165px 50px 50px;
    max-width: 1100px;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover-title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 135px;
}

.aligned-text {
    display: block;
    letter-spacing: 30px;
}

.aligned-text-left {
    text-align: left;
}

.aligned-text-center {
    text-align: center;
    margin: 20px 0;
}

.aligned-text-right {
    text-align: right;
    margin-right: -30px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover-description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 100px;
    margin-top: 106px;
}

.cover-description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
    line-height: 28px;
    color: #fff;
}

.bet-button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    padding: 12px 32px;
}

/* ===== LOTS СТИЛИ ===== */
.lots {
    padding: 180px 24px 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 28px;
}

.lots-heading {
    font-family: 'Raleway';
    font-size: 40px;
    line-height: 100%;
    padding-left: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: auto;
    gap: 24px;
}

.lots-card-list-item {
    padding: 48px 40px;
    width: 334px;
    min-width: 596px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-link {
    text-decoration: none;
    display: block;
    height: 100%;
}

.card {
    position: relative;
    height: 100%;
    min-height: 450px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.card-type-film {
    background-image: url("../images/card-lot-01.jpg");
}

.card-type-book {
    background-image: url("../images/card-lot-02.jpg");
}

.card-type-picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card-title {
    z-index: 1;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.card-text {
    z-index: 1;
    font-size: 20px;
    line-height: 1.2;
}

.lots-look-more-link {
    padding-left: 40px;
    font-size: 20px;
    letter-spacing: 0.5px;
    border: none;
    background-color: transparent;
    text-decoration: underline;
}
/* ===== ABOUT СТИЛИ ===== */
.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 0 50px 180px;
    max-width: 1100px;
    margin: 0 auto;
}

.about-column {
    display: flex;
    flex-direction: column;
}

.about-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin: 0 auto;
}

.about-logo-image {
    width: 148px;
    height: 114px;
}

.about-title {
    font-size: 40px;
    text-transform: uppercase;
    margin: 100px 0 100px;
    font-weight: 700;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-text p {
    padding-right: 5px;
    margin-bottom: 0px;
    padding-top: 20px;
}

/* ===== FOOTER СТИЛИ ===== */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 180px;
    padding: 0 50px 82px;
}

.address-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 265px;
    padding-left: 50px;
    padding-top: 45px;
    text-underline-offset: 4px;
}

.menu-footer {
    justify-self: start;
    padding-bottom: 0;
    padding-top: 17px;
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 3px;
}

.menu-footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
}

.menu-footer-link-active {
    text-decoration: none;
}

.menu-footer-list-item {
    display: flex;
}

.menu-footer-link {
    text-decoration: underline;
}

.footer-social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    align-items: flex-start;
    flex-direction: row;
    align-content: center;
    width: 240px;
    padding-left: 64px;
}

.footer-social-list-item {
    display: flex;
}

.footer-social-link {
    text-decoration: none;
}

.footer-social-icon {
    width: 48px;
    height: 48px;
}