.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.menu__header {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 33px;
}

.header__links-list-item {
    text-transform: lowercase;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    line-height: 21.13px;
    /*text-decoration: underline;*/
    font-size: 18px;
    text-underline-offset: 3px;
}

.header__link-active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    display: block;
    width: 100%;
    height: 100%;
}

.address__header {
    display: flex;
    flex-direction: column;
    justify-self: end;
    width: 240px;
    font-size: 18px;
    text-underline-offset: 3px;
    line-height: 24.3px;
}

.address__header a {
    text-decoration: underline;
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    padding: 165px 50px 50px;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover__title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 106px;
}

.aligned-text {
    display: block;
    letter-spacing: 30px;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
}

.aligned-text_right {
    text-align: right;
    margin-top: 20px;
    margin-right: -30px;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 108px;
}

.cover__description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
    line-height: 28px;
    color: #fff;
}

.bet-button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    padding: 12px 32px;
}

.lots {
    padding: 185px 24px 110px;
}

.lots__heading {
    padding: 0 0 30px 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
}

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    list-style: none;
}

.lost__card-list-item {
    height: 100%;
}

.card-link {
    display: block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    min-height: 596px;
    padding: 48px 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    text-decoration-line: underline;
    text-underline-offset: 1px;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 20px;
    line-height: 1.21;
}

.lots__look-more-link {
    display: block;
    margin: 30px 0 0 40px;
    font-size: 20px;
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.about {
    display: flex;
    gap: 25px;
    padding: 0 24px 120px 24px;
}

.about__column {
    justify-content: start;
}

.about__logo {
    background-color: #000;
    border-radius: 50%;
    margin: 0 95px;
    padding: 63px 46px;
}

.about__logo-image {
    width: 148px;
}

.about__column-content-text:last-child {
    margin-top: 100px;
}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 100px;
}
/*.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    column-gap: 25px;
    padding: 40px 24px;
}

.about__column {
    justify-content: start;
    grid-template-columns: 1fr;
}

.about__column-content-text {
    grid-column: 2;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
}

.about__logo-image {
    display: grid;
    width: 148px;
    height: 114px;
    align-self: center;
}

.about__title {
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about__text p {
    font-size: 20px;
    line-height: normal;
}
*/
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 1px 24px 82px;
}

.footer__address {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 18px;
    line-height: 24.3px;
    text-underline-offset: 3px;
    gap: 0;
}

.footer__menu {
    justify-self: center;
    text-align: center;
    font-size: 18px;
    line-height: 24.3px;
    text-underline-offset: 3px;
}

.footer__menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
    padding: 0;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__menu-list-item {
    display: flex;
}

.footer__menu-link {
    text-decoration: underline;
    color: #000;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    /*list-style: none;
    align-items: center;
    flex-direction: row;
    align-content: center;*/
    justify-self: end;
    list-style: none;
}

.footer__social-list-item {
    display: flex;
}

.footer__social-link {
    text-decoration: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}